FINRLX_MODEL_DIR=C:/Users/hushm/Desktop/모델
FINRLX_CHAMPION_PATH=C:/Users/hushm/Desktop/모델/champion.pt
FINRLX_EXPERTS_DIR=C:/Users/hushm/Desktop/모델/experts
FINRLX_RUNTIME_DIR=./runtime
FINRLX_INITIAL_CAPITAL=10000000
FINRLX_TRANSACTION_COST=0.001
FINRLX_MARKET=US
FINRLX_FEED_PROVIDER=yahoo_poll
FINRLX_FEED_POLL_SECONDS=5
ALPACA_API_KEY=
ALPACA_API_SECRET=
ALPACA_DATA_FEED=iex
